/*color pallete*/
/*#F6F0D7*/
/*#C5D89D*/
/*#9CAB84*/
/*#89986D*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F0D7;
    font-family: Arial, Helvetica, sans-serif, serif;
}

.title {
    text-align: center;
    background-color: #C5D89D;
    padding: 24px;
    border-bottom: 2px solid #89986D;
    font-size: 36px;
}

ul {
    text-align: center;    
    margin: 24px;
}

li {
    margin: 12px;
    list-style: circle;
    font-size: 18px;
    list-style-position: inside;
}